*{
    margin: 0px auto;
    padding: 0px;

}
.content{
    height: 300px;
    width: 900px;
    background-color: gray;
    margin-top: 10px;
    position: relative;
    background-color: purple;
}
.a{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: url('a.jpg');
    position: absolute;
    left: 100px;
    top: 200px;
    background-size: cover;
    border-radius: 200px;
    border: 2px solid rgba(93, 133, 124, 0.8);
}
.b{
    height: 200px;
    width: 200px;
    background-color: teal;
    position: absolute;
    right: 100px;
    top: 200px;
    overflow: hidden;
}